# ===== Preprocesado y Manipulación de Datos =====
polars==1.*
pandas==2.2.*

# ===== Machine Learning Tradicional =====
scikit-learn==1.4.*
xgboost==2.0.*
lightgbm==4.3.*

# ===== Manejo de Grafos =====
# networkx es necesario antes de pasar las estructuras a tensores de PyTorch Geometric
networkx==3.*

# ===== Interpretabilidad Algorítmica (XAI) =====
shap==0.45.*
lime==0.2.*

# ===== Científica y Notebooks =====
jupyter==1.0.*
matplotlib==3.8.*
seaborn==0.13.*

# ===== Entorno y Buenas Prácticas =====
python-dotenv==1.2.*

# ===== Calidad de Código y Tipado Fuerte =====
ruff==0.15.*
mypy==1.20.*

# ===== MLOps y Experimentación =====
# Tracker para no perder y exportar fácilmente las métricas comparadas en el TFG
mlflow==3.10.*

# ===== Testing =====
# Marco necesario para validaciones unitarias en las transformaciones del grafo
pytest==9.0.*

# ===== Cloud Storage / Data Sync =====
huggingface_hub==1.9.*
kagglehub==1.0.*
